:root {
    --col-blue-powder: #bfd8d2;
    --col-pink-peach: #fedcd2;
    --col-red-warm: #df744a;
    --col-yellow-lemon: #dcb239;
  }


.map-svg {
    width: 100vw;
    height: 100vh;
}

.base {
    fill: var(--col-red-warm);
}

.states {
    fill: var(--col-red-warm);
    opacity: 70%;
    stroke-width: 1px;
    stroke: var(--col-red-warm)
}

.provinces {
    fill: var(--col-red-warm);
    opacity: 70%;
    stroke-width: 1px;
    stroke: var(--col-red-warm)
}

.mexico {
    fill: var(--col-red-warm);
    opacity: 70%;
    stroke-width: 1px;
    stroke: var(--col-red-warm)
}

.routes {
    stroke: var(--col-yellow-lemon)
}

.city {
    fill: var(--col-yellow-lemon)
}