@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.map-container {
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    background-color: #bfd8d2;
}

.map-svg {
    width: 100vw;

}


.scroller {
    /* background: linear-gradient(to left, var(--col-blue-powder), transparent 95%); */
    /* background-color: var(--col-blue-powder); */
    padding-right: 5vw;
    max-width: 35vw;
    margin-left: 60vw;
    margin-right: 0vw;
    position: relative;
}

.scroller-step {
    min-height: 69vh;
    margin-bottom: 80vh;
    padding-left: 10vw;
    /* border-radius: 3px;
    background-color: rgba(191, 216, 210, 0.7); */
    color: #fffff7;
    font-family: 'Sen', sans-serif;
}

.text-container {
    position: fixed;
    top: 60vh;
    left: 5vw;
    height: 40vh;
    width: 40vw;
}
.text-svg {
    height: 20vh;
}

h1 {
    /* position: fixed;
    top: 85vh;
    left: 5vw; */
    font-family: 'Permanent Marker', cursive;
    color: var(--col-yellow-lemon);
    text-shadow: 2px 2px #c49000;
}

.distance-text {
    position: fixed;
    top: 50vh;
    left: 10vw;
    width: 10vw;

}

text {
    font-family: 'Permanent Marker', cursive;
    fill: var(--col-yellow-lemon);
}
