html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    /* background-color: #bfd8d2; */
}

.second-part {
    background-color: white;
    height: 100vh;
    width: 100vw;
}